.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 100%; 
    grid-template-areas:
      "image text"; 
  }
  
  .image {
    grid-area: image;
    align-self: center;
   
  }
  
  .p {
    grid-area: text;
    padding: 20px; 
  }